{% extends "layout.html" %}

{% block body %}

<div class="header-whitespace"></div>

<div class="log-reg">
    <h1>Join a Class!</h1>
    <p>Are you a student looking to join your teachers class? <b>Join here!</b> <br> <br> (You need a code from your teacher to join)</p>
    <div class="reg-int">
        <div class="left-reg">
            <label for="username">Username:</label>
            <label for="password">Password:</label>
            <label for="password">Confirm Password:</label>
            <label for="invite_code">Invite Code:</label>
        </div>
        <div class="right-reg">
            <form action="/register_student" method="post" id="register">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input name="username" type="text" required><br>
                <input name="password" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number, one uppercase, 
                        and one lowercase letter. At least 8 characters"><br> <!-- Ensures that the user submits a strong password -->
                <input name="password_con" type="password" required><br>
                <input name="invite_code" type="text" required><br>
            </form>
        </div>
    </div>
    <button type="submit" form="register">Register</button>

    <p>Already have an account? <a href="/login">Login Here</a>.</p>
    <p>Teacher looking to create a class? <a href="/create_class">Register Here</a>.</p>
</div>

<div class="corner-popup" id="popup"> <!-- Popup messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    let alerts = document.querySelectorAll('.flash');
    let popup = document.getElementById('popup');

    if (alerts.length > 0) {
        popup.style.display = "block";  

        setTimeout(function() {
            popup.style.display = "none";
        }, 3000); // Disappear after 3 seconds
    }
});
</script>

<div class="header-whitespace"></div>

{% endblock %}